
.project-card{
    display: flex; 
    gap: 30px;
    margin-bottom: 7%;
    /* border: 1px solid; */

}

.projectImages{
    width: 650px;
    height: 105%;
    border-radius: 5px;
}

.project-card > div:nth-of-type(2){
    text-align: left;

}

.projectSkills img{
    width: 50px;

}
.projectSkills{
    display: flex;
    gap: 40px;
}

.ProjectButton > button {
    padding: 13px 5%;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    background-color:#00abf0;
    color: black;
    font-weight: 540;
}
.ProjectButton{
    display: flex;
    gap: 13%;
    margin-top: 7%;
}

.ProjectButton > button > a{
    text-decoration: none;
    background: none;
    color: black;
}