.skills-card-img {
    width:62%;
    margin: auto;
    /* border: 1px solid; */
    /* padding-left: 30px; */
   
}

.icon_Div {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3rem;  
    margin: 2% 4% 0 4%;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    text-align: center;

}   

.skills-card{
    text-align: center;
}


.icon_Div .skills-card {
    padding: 14px;
    /* flex: 0 0 12rem; */
    

      border: 1px solid #081b29;
    border-radius: 5%;
    cursor: pointer;
    transition: .4s ease;

}

.skills-card-name{
    padding:13% 0 9% 0;
}

.icon_Div .skills-card:hover {
    border-color: #00abf0;
    ;
    transform: scale(1.02);
}