.nav_Top {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    z-index: 100;
    
    padding: 20px 10%;

 

}




.nav_Item {
    font-size: 17px;
    font-weight: 500;
}

.nav_Item>ul {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    cursor: default;
    transition: .3s;
}

a:hover {
    color: #00abf0;
}



.DrawerNavbar{

    position: relative;
}

@media only screen and (max-width : 720px){
    .nav_Item{
display: none;
    }
    

}
@media only screen and (min-width : 720px){
    .DrawerNavbar{
display: none;
    }
    

}
